@using Pops_bookshop.Models.Entities
@model Book

@{
    ViewBag.Redirection = ViewBag.ToRedirect;
}

<div>
    @await Html.PartialAsync("_WishedState", Model)
    @await Html.PartialAsync("_CartState", Model)

    <h2 class="book-title">
        <a href="@Url.ActionLink("Details", "Book", new { bookId = Model.Id })">
            @Model.Title
            <span class="group-settings-button material-symbols-outlined d-inline-block">info</span>
        </a>
    </h2>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price€</p>
    <p>ISBN: @Model.ISBN</p>
    @if (Model.Authors is not null && Model.Authors.Count() > 0)
    {
        <p>
            Authors:
            @foreach (Author author in Model.Authors)
            {
                <span class="book-authors">@author.Name</span>
                @if (!(author == Model.Authors.Last()))
                {
                    <span>,</span>
                }
            }
        </p>
    }
    else
    {
        <p class="book-authors">No author given</p>
    }
    @if (Model.Categories is not null && Model.Categories.Count() > 0)
    {
        <p>
            Categories:
            @foreach (Category genre in Model.Categories)
            {
                <span class="book-categories">@genre.Name</span>
                @if (!(genre == Model.Categories.Last()))
                {
                    <span>-</span>
                }
            }
        </p>
    }
    else
    {
        <p class="book-categories">Category undefined</p>
    }
</div>

<div>
    <a href="@Url.ActionLink("Details", "Book", new { bookId = Model.Id})">
        @if (Model.CoverImageUrl != null)
        {
            <img src=@Model.CoverImageUrl alt="[book cover]" class="book-cover-image" />
        }
        else
        {
            <img src="~/images/book_cover.jpg" alt="[book cover]" class="book-cover-image" />
        }
    </a>
</div>

<hr />